:root {
    --bg-color: white;
    --text-color: black;
    --red-color: #ff3939;
    --dark-red-color: #c20000;
}

.dark {
    --bg-color: #121212;
    --text-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    zoom: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    transition: 0.3s;
}

#themeToggleButton {
    background: var(--red-color);
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#themeToggleButton:hover {
    background: var(--dark-red-color);
}

@media (max-width: 620px) {
    body {
        margin: 15px;
        zoom: 100%;
    }
}

h1 {
    border-bottom: 4px solid var(--red-color);
    padding-bottom: 15px;
}

hr {
    border: 0;
    border-top: 2px solid var(--red-color);
    margin-top: 25px;
}

.autocad {
    color: var(--red-color);
    font-size: 70px;
    font-weight: bold;
}

#servoDellaGlebaButton {
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    font-size: 25px;
    background: var(--red-color);
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

#servoDellaGlebaButton:hover {
    background: var(--dark-red-color);
}

a {
    color: var(--red-color);
}