body {
    zoom: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
}

h1 {
    border-bottom: 4px solid red;
    padding-bottom: 15px;
}

hr {
    border: 0;
    border-top: 2px solid red;
}

#autocad {
    color: red;
    font-size: 70px;
}

button {
    cursor: pointer;
    height: 50px;
    width: 100%;
    max-width: 600px;
    font-size: 30px;
    background: red;
    border: 0;
    color: white;
    border-radius: 10px;
}